/* Main elements of the page */

body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: #FFF8D9;
}



h1{
font-family:Roboto;
}

h2{
font-family:Arial;
}


#main_wrapper
{
    width: 900px;
    margin: auto;

/* Header */
header{

}


}
/*main title*/
#main_title{
position:relative;


display:flex;

}

#sub_title{
position:relative;
top:-40px;
font-size:14px;
font-family:times;

}

/*nav */
nav {
position.relative;


margin-left: 43.5%;
top:-100px;
padding-bottom: 0px;
}

nav a{
font-size: 20px;
color:#000;
margin-right: 10px;
text-decoration: none;
}

hr{
position:relative;
width:900px;
height:3px;
background:url('images/line.png');
background-repeat:repeat-x;
border:none;


}

/* Banner */
#banner_image{
position: absolute;
margin-top:25px;
width:900px;
height: 219px;
border-radius: 5px;
background-image: url('images/sanfrancisco.jpg');
background-repeat:no-repeat;
box-shadow: 2px 6px 5px grey;
}

#banner_layer{
position:absolute;
bottom:-17px;
left:-40px;
width:100%;
padding:10px 0px 35px 0px;
background-color:black;
opacity: 0.65;
border-radius:0px 0px 5px 5px;
}

#banner_text{
position:absolute;
padding-left: 5px;
font-size:12px;
color:#FFF;

}


.moreBtn{
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(-3%, -10%);

    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:linear-gradient(to bottom, #e82517 5%, #700a02 100%);
    background-color:#e82517;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
    }
    .moreBtn:hover {
    	background:linear-gradient(to bottom, #700a02 5%, #ff3324 100%);
    	background-color:#700a02;
    }



/* Body */
section{
position:absolute;
width:900px;
margin:auto;
align:center
}

article figure{
margin-top: 280px;
position:relative;
left:-40px;
display:flex;
}

article p{
position:relative;
width:70%;
text-align:justify;
font-size:13px;
padding-bottom:3px;
}

aside{
position:relative;
height:410px;
float: right;
margin-right:0%;
margin-top:-75px;
width: 28%;
border:solid 1px grey;
border-radius:10px;
background-color:#706B64 ;
color:#FFF;
display:inline;
}

aside figure{
position:absolute;
margin-top: 0px;
text-align:center;
margin-right:auto;
display:block;
padding-right: 10px;
padding-left:10px;

}
aside h1{
padding-left:10px;
}
aside p{
width: 100%;
font-size:14.5px;
}

#aside_arrow{
position:absolute;
margin-left: 20px;
margin-top:25px;

}

#container{
position:absolute;
margin-top: 290px;
}

#top_button{
position:relative;
margin-left:45%;
text-align: center;

top: -10px;
}


/* Footer */
#footer{
position:absolute;
height:100px;
bottom:-380px;
width:900px;

}

#tweet {
  float: left;
  width: 28%;

}

#my_pictures, #my_friends {
  float: left;
  width: 35%;

}


ul {
  list-style-image: url('images/external_link.png');
}


.row2{
position:relative;
width: 100%;
margin-top:-20px;
  margin-left:-30px;
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


li a{
color:red;
text-decoration:none;
font-size:14px;
}


#pic_container{



}
